@import "./index.less";
@import './variables.less';

.content {
    .main {
        background-color: @mainColor;
    }
}

.a {
    width: 500px;
    height: 500px;
    background-color: @color;
}

.b {
    width: 500px;
    height: 500px;
    background-color: var(--globalColor);
}